$mobile-width: 340px;
$mobile-xl-width: 480px;
$portrait-width: 768px;
$landscape-width: 1000px;
$desktop-width: 1280px;
$desktop-xl-width: 1300px;
$hd-width: 1440px;
$full-hd-width: 1920px;


$color-blue: #0040D5;